Description=Ethernet Network Connectivity (%i)
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/etc/init.d/networking start
RestartSec=1min
Restart=on-failure

ExecStop=/etc/init.d/networking stop

[Install]
WantedBy=multi-user.target
