[Unit]
Conflicts=sshd.service

[Socket]
ExecStartPre=/bin/mkdir -p /var/run/sshd
ListenStream=7777
Accept=yes

[Install]
WantedBy=sockets.target
Also=sshdgenkeys.service
